<div class="pt-5 ml-5 b">
	<h1 class="text-warning">Home</h1>
</div>

<div class="container">
	<div class="jumbotron">
		<img class="pl-5 img-fluid" src="assets/book.jpg">
		<p class="pl-5">Phone Books are important things to have.<br>It makes life much more easier.<br>But its way cooler if you can actually Edit & Delete them whenever you want to.<br>Oh and here is a small joke that i found.<br>I told my teenage niece to get me a Phone Book...<br>She laughed at me and said.<br>"Oh uncle you are so old, just use my Phone."<br>So i slammed her phone against a wall to kill a Spider.</p>
	</div>
</div>
